<h2>Log in</h2>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
 
<%= form_with url: session_path do |form| %>
  <p>Name</p>
  <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username", value: params[:name] %><br>
  <p>Password</p>
  <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72 %><br>
  <%= form.submit "Sign in" %>
<% end %>
<br>
 
<%= link_to "Forgot your password?", new_password_path %>